<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UIQuickSignum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CertSerial" value="DmitryVlasov"/>
    <add key="DirectoryPath" value="C:\outKadastr\mp_fe4cfbf6-2069-41f7-8413-8874ca4e8497"/>
    <add key="Document" value="GKUZU_fe4cfbf6-2069-41f7-8413-8874ca4e8497.xml"/>
    <add key="Signature" value="GKUZU_fe4cfbf6-2069-41f7-8413-8874ca4e8497.xml.sign"/>
  </appSettings>
  <userSettings>
    <UIQuickSignum.Properties.Settings>
      <setting name="CertSerialNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDirectoryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketUrl" serializeAs="String">
        <value>http://market.2m0nd.ru/Payment/BuyLicenseBySerialNumber?keyQuery=</value>
      </setting>
      <setting name="SignInZip" serializeAs="String">
        <value>False</value>
      </setting>
    </UIQuickSignum.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
