<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" archiveEvery="Month"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:maxInnerExceptionLevel=10:format=Type,Message,Method,StackTrace}" />

    <target xsi:type="File" name="ferror" fileName="${basedir}/logs/ERRORS!.log"
				layout="${newline}${newline}${longdate} ${uppercase:${level}} ${event-context:item=username} ${logger} ${message} ${exception:format=Type,Message,StackTrace:maxInnerExceptionLevel=20:innerFormat=Type,Message,StackTrace:innerExceptionSeparator=---INNER---}" />

  </targets>

  <rules>

    <logger name="*" minlevel="Error" writeTo="ferror" />

    <logger name="*" minlevel="Trace" writeTo="f" />

  </rules>
</nlog>